main{
    padding-top: 60px;
}
main .slider{
    background-image: url(../img/index_back.jpg) ; margin-left:5% ; width: 90% ; height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
main section{
    margin-bottom: 40px;    
}
main .game_list, main .ads, main .payment{
    display: block;
    padding: 0 5%;
}
main section h2{
    font-size: 220%;
    margin-bottom: 10px;
}
.payment img{
    max-width: 100%;
}

.game_list li{
    display: block;
    padding: 10px 15px;
    
}
.game_list li:after{
    clear: both;
    content: "";
    display: block;
}
.game_list ol li{
    background-color: #777;
    color: #eee;
    padding-left: 5%;
}
.game_list ol li p{
    float: left;
    width: 40%;
    box-sizing: border-box;
    padding: 0 15px;
}
.game_list ol li p:last-child{
    padding-left: 30px;
}

.game_list ul{
    counter-reset: list 0;
}
.game_list ul li{
    counter-increment: list 1;
}
.game_list ul li:before{
    display: block;
    content: counter(list);
    width: 5%;
    float: left;
    box-sizing: border-box;
    padding: 10px 15px;
}
.game_list ul li .info{
    float: left;
    width: 40%;
    box-sizing: border-box;
}
.game_list ul li .info a{
    text-decoration: none;
    color: #337AB7;
    font-weight: bold;
}
.game_list ul li .info .name{
    color: #555;
    font-size: 90%;
}
.game_list ul li .description{
    float: left;
    width: 40%;
    box-sizing: border-box;
}
.game_list ul li .play{
    float: left;
    width: 15%;
    box-sizing: border-box;
}
.game_list ul li .play a{
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    box-sizing: border-box;
    background-color: #B70819;
    color:#fff;
    font-size: 120%;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 5px;
    transition: .2s;
    opacity: .8;
}
.game_list ul li .play a:hover{
    opacity: 1;
}
.game_list ul li .play a:active{
    transform: translate(0, 1px);
}
.game_list ul li{
    background-color: #f5f5f5;
}
.game_list ul li:nth-child(2n){
    background-color: #fff;
}
.game_list ul li {
    display: flex;
}
.game_list ul li div {
    display: inline-flex;
}
#register_form {
    overflow-y: auto;
    max-height: 90%;
}
.list-tournaments {
    width: 100%;
    border-collapse: collapse;
}
.list-tournaments thead tr {
    background-color: #6f6f6f;
    color: #fff;
}
.list-tournaments thead tr td {
    padding: 10px;
}
.list-tournaments tbody tr:nth-child(2n+1) {
    background-color: #eee;
}
.list-tournaments tr td {
    padding: 5px 10px;
}
.list-tournaments tr td a {
    font-weight: bold;
    color: #337AB7;
    text-decoration: none;
}
.btn-play {
    color: #fff;
    background-color: #B70819;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    opacity: 0.8;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.btn-play:hover {
    background-color: #B70819;
    opacity: 1;
}