main{
    padding: 0 5%;
    padding-top: 80px;
}

main .wrapper{
    display: block;
    clear: both;
    width: 100%;
    margin: 30px 0;
}
main .wrapper:after{
    display: block;
    content: "";
    clear: both;
}
main .wrapper .column{
    display: block;
    float: left;
    width: 45%;
    margin-right: 10%;
}
main .wrapper .column:last-child{
    margin-right: 0;
}

main .column h3{
    font-size: 140%;
    margin-bottom: 10px;
}
main .column h3+p{
    font-size: 90%;
    line-height: normal;
}

.column fieldset{
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.column fieldset hgroup{
    margin-bottom: 20px;
}
.column input[type='text']{
    display: block;
    padding: 7px 15px;
    width: 100%;
    box-sizing: border-box;
    border: #777 solid 1px;
    color: #333;
    font-size: 90%;
    outline: none;
    font-family: inherit;
}

table{
    min-width: 100%;
    border-collapse: collapse;
}
table td{
    padding: 5px;
}
thead td{
    background-color: #333;
    color:#efefef;
}
table td h3{
    margin: 0;
    text-align: center;
}
 table tr:nth-child(2n) td{
    background-color: #eee;
}
.column fieldset dd{
    font-size: 90%;
    white-space: pre-wrap;
}
.column td a {
    color: rgb(183, 8,25);
    padding: 0 15px;
    display: inline-block;
}
.column .result{
     color: rgb(8, 25, 183);
}
.column td span.result{
    color: rgb(8, 25, 183);
    padding: 0 15px;
    min-width: 4em;
    text-align: center;
    display: inline-block;
}
.column #totalrake{
    text-align: center;
    color: rgb(8, 25, 183);
}
.column td .data{
    display: none;
    font-size: 0;
    color: transparent;
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    
}
.column .frameRequest textarea{
    display: block;
    color: #555;
    font-size: 13px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px;
    text-align: center;
    resize: none;
    border: 1px solid #777;
    height: auto;
    line-height: 13px;
    outline: none;
}
.column .frameRequest .declined{
    color: rgb(183,8,25);
    font-weight: bold;
}

.referrals #details, .referrals #hand-history, .referrals #transfer-history, #referral-level2, #tournamentResultView, #affiliateRequest, #changePassword, #newMessage, .common-popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    z-index: 12;
    display: none;
}
.referrals #details td,  .referrals #hand-history td, #referral-level2 td{
    max-width: 20%;
}
.referrals #details .wrap,#referral-level2 .wrap, #tournamentResultView .wrap, #affiliateRequest .wrap, #changePassword .wrap, #newMessage .wrap, #transfer-history .wrap, .common-popup .wrap {
    width: 50%;
    margin: 30px 30px;
    max-height: 80vh;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
    float: left;
    border-top: 10px solid #444;
}
.referrals #hand-history .wrap{
    width: 40%;
    margin: 30px 30px;
    max-height: 80vh;
    overflow: auto;
    padding: 10px;
    background-color: #fff;
    border-top: 10px solid #444;
    float: right;
}

#details .hand{
    display: none;
    font-size: 90%;
    line-height: 1.1;
    max-height: 200px;
    overflow: auto;
}

#details ul.nav{
    font-size: 0;
    text-align: right;
    margin-bottom: 15px;
}
#details .nav li{
    display: inline-block;
}
#details .nav li a{
    font-size: 14px;
    display: inline-block;
    padding: 5px 12px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
#details .nav li a.active{
    background-color: rgb(183,8,25);
}
#contacts ul.nav{
    font-size: 0;
    text-align: right;
    margin-bottom: 15px;
}
#contacts .nav li{
    display: inline-block;
}
#contacts .nav li a{
    font-size: 14px;
    display: inline-block;
    padding: 5px 12px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
#contacts .nav li a.active{
    background-color: rgb(183,8,25);
}

#contacts .message-unread, #contacts table tr.message-unread:nth-child(2n) td {
    background-color: #f17c7c;
}
#contacts .message-unread > td {
    font-weight: 900;
}
#contacts .mark_read {
    background-image: url('/admin/img/accept.png');
    /*visibility: hidden;*/
}
#contacts .message-unread .mark_read {
    visibility: visible;
}
#contacts textarea {
    width: 100%;
    border: 1px solid black;
}
#contacts .reply {
    background-image: url('/img/mail.png');
}

#changePassword input[type=password] {
    border: 1px solid black;
}

#details hgroup{
    margin-bottom: 5px;
}
#details table{
    width: 100%;
}

span.number{
    color:rgb(8,25,183);
}

.become-affiliate div{
    margin-bottom: 15px;
}
.become-affiliate div p{
    font-size: 90%;
}

.transfer-chips label{
    display: block;
    margin-bottom: 10px;
}
fieldset input[type='number'], fieldset select{
    padding: 7px 15px ;
    border: 1px solid #777;
    min-width: 4em;
}


.accepted{
    color:rgb(8,183,25);
}
.declined{
    color: rgb(183,8,25);
}
body div p.affiliateRequestStatus{
    font-size: 110%;
    margin: 5px 0;
}
p.affiliateRequestStatus span{
    font-size: 100%;
}

textarea {
    border: 1px solid black;
}

main #affiliateRequest label {
    width: 95%;
}

main #affiliateRequest p {
    display: inline;
}
main #affiliateRequest p>i {
    display: inline-block;
    width: 80%;
}