.i_cata{background-image: url('../img/cata.png')!important;}
.i_settings{background-image: url('../img/settings.png')!important;}
.i_mysql{background-image: url('../img/mysql.png')!important;}
.i_catalog{background-image: url('../img/catalog.png')!important;}
.i_edit{background-image: url('../img/edit.png')!important;}
.i_env{background-image: url('../img/env.png')!important;}
.i_info{background-image: url('../img/info.png')!important;}
.i_logout{background-image: url('../img/logout.png')!important;}
.i_images{background-image: url('../img/images.png')!important;}
.i_articles{background-image: url('../img/articles.png')!important;}
.i_video{background-image: url('../img/video.png')!important;}
.i_content{background-image: url('../img/content.png')!important;}
.i_appManager{background-image: url('../img/appmanager.png')!important;}
.i_sitemap{background-image: url('../img/sitemap.png')!important;}
